body {
    background-color: #FF8E12;
}
div {
    background-image: url(start.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 80%;
    background-size: 80% auto;
    background-position: center center;
	padding-top:16%;
	margin-top:4%;
}

#query {background-image: url(end.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 80%;
    background-size: 80% auto;
    background-position: center center;
	padding-top:12%;
	margin-top:4%;}
#query3 {background-image: url(end.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 80%;
    background-size: 80% auto;
    background-position: center center;
	padding-top:13%;
	margin-top:4%;;}
a {
    font-family: "Bangers";
    font-style: bold;margin-left:47%;
    background-color: crimson;
    color: white;
    font-size: 50px;
}

#answer1, #answer2, #answer3{font-family: "Bangers";
    font-style: bold;margin-left:38%;
    background-color: crimson;
    color: white;
    font-size: 40px;}

#restart {font-family: "Bangers";
    font-style: bold;margin-left:42%;
    background-color: crimson;
    color: white;
    font-size: 50px;}

p {font-size:35px;margin-left:36%;margin-bottom:5%;}
#long {font-size:35px;margin-left:36%;margin-bottom:5%;}
.long {font-size:31px;margin-left:34.5%;margin-bottom:5%;}
#left {font-size:35px;margin-left:35%;margin-bottom:5%;}
#big {font-size:40px;margin-left:37%;margin-bottom:8%;}
#up {font-size:30px;margin-left:35.5%;margin-bottom:10%;}

a:hover, a:focus {color:black;background-color:greenyellow;text-decoration:none;}
#answer1:hover, #answer1:focus {color:black;background-color:greenyellow;text-decoration:none;}
#answer2:hover, #answer2:focus {color:black;background-color:greenyellow;text-decoration:none;}
#answer3:hover, #answer3:focus {color:black;background-color:greenyellow;text-decoration:none;}
#restart:hover, #restart:focus {color:black;background-color:greenyellow;text-decoration:none;}
